admin-panel {
  background: rgb(20, 20, 20);
  /*
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;

  button {
    align-self: start;
  }

  form {
	padding: 1rem;
  }

  form,
  label:has(input:not([type])),
  li,
  ol {
    display: flex;
    flex-direction: column;
  }

  form,
  ol,
  li {
    gap: 1rem;
  }

  label {
    gap: 0.25rem;
  }
  */
}
