hero-component {
  article,
  ul {
    display: flex;
    gap: 1rem;
  }

  article {
    flex-direction: column;
    background: no-repeat top center / 1280px 80vh;
    justify-content: center;
    margin-top: -6.5rem;
    min-height: 80vh;
    padding: 1rem;
    position: relative;
  }

  h1 {
    font-weight: normal;
    font-size: 2.25em;
    line-height: 1.1111111;
  }

  p {
    a {
      font-weight: 500;
      text-decoration: underline;
    }
  }

  ul {
    a {
      border: 1px solid rgba(38, 38, 38, 0.8);
      border-radius: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0.5rem 1rem;

      &.default {
        background: rgb(248, 250, 252);
        color: rgb(15, 23, 42);
      }

      &.outline {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
      }
    }
  }
}
