list-field {
  > ol > li > article {
    border: 1px solid rgb(74, 74, 74);
    border-radius: 0.25rem;
	padding: 1rem;

	> header {
	  display: flex;

	  h4 {
	    flex: 1;
	  }

	  select {
	    appearance: none;
	    width: 2rem;
	  }
	}

	&:has(> header [type="checkbox"]:not(:checked)) {
	  > object-field {
	    display: none;
	  }
	}
  }
}
